@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Ubuntu Mono';
  background: #2C3E50;
}

.header-container {
   position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

h1 {
  font-size: 4em;
  padding-bottom: 10px;
}

h2 {
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
}

@-webkit-keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fade {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.header {
  height: 20%;
  text-align: center;
  background: #E74C3C;
  color: #ECF0F1;
}

#maininp, #maininp:focus {
  min-width: 100%;
  padding: 5%;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border: none;
  outline: none;
    box-shadow: none;
  background: rgba(0,0,0,0);
  font-size: 2em;
  color: #ECF0F1;
}

