<!DOCTYPE html>
<html>
<head>
	<title>TypeChi.me</title>
	<link rel="icon" type="image/ico" href="/static/favicon.ico">
	<link rel="stylesheet" href="/static/main.css">
</head>
<body>
	<div class="header">
		<div class="header-container">
			<h1>typeChi.me</h1>
  			<h2>start typing...</h2>
  		</div>
  	</div>

	<input id="maininp" autofocus></input>
	
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src="/static/js/jquery.autosize.min.js" type="text/javascript"></script>
	<script src="/static/js/socket.io.min.js" type="text/javascript"></script>
	<script src="/static/js/base64binary.js" type="text/javascript"></script>
	<script src="/static/js/MIDI/AudioDetect.js" type="text/javascript"></script>
	<script src="/static/js/MIDI/LoadPlugin.js" type="text/javascript"></script>
	<script src="/static/js/MIDI/Plugin.js" type="text/javascript"></script>
	<script src="/static/js/MIDI/Player.js" type="text/javascript"></script>
	<script src="/static/js/MIDI/Loader.js" type="text/javascript"></script>
	<script src="/static/js/Window/DOMLoader.script.js" type="text/javascript"></script>
	<script src="/static/js/playMIDI.js" type="text/javascript"></script>
	<script src="/static/js/main.js" type="text/javascript"></script>
</body>